<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="main-body">
  <div class="container">
    {% block body %}
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
    <form method="post">
        <br>
        <div class="row">
            <input type="submit" class="btn btn-danger" name="submit_button" value="STOP ALL JOBS">
        </div>
        <br>
        <div class="row">
            <input type="submit" class="btn btn-info" name="submit_button" value="CURRENT JOBS">
        </div>
        <br>
        <div class="row">
            <input type="submit" class="btn btn-primary" name="submit_button" value="AUTHORIZE NEW CLIENT">
        </div>
    </form>
    {% endblock %}
  </div>
</div>